<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Members</key>
	<array>
		<dict>
			<key>mId</key>
			<string>101</string>
			<key>mName</key>
			<string>Sundararajaiyar</string>
			<key>coupleId</key>
			<string>1001</string>
			<key>isDied</key>
			<true/>
		</dict>
		<dict>
			<key>mId</key>
			<string>102</string>
			<key>mName</key>
			<string>Rajalakshmi</string>
			<key>coupleId</key>
			<string>1001</string>
			<key>isDied</key>
			<false/>
		</dict>
		<dict>
			<key>mId</key>
			<string>103</string>
			<key>mName</key>
			<string>Ramamoorthi</string>
			<key>coupleId</key>
			<string>1002</string>
			<key>isDied</key>
			<false/>
		</dict>
		<dict>
			<key>mId</key>
			<string>104</string>
			<key>mName</key>
			<string>Mami</string>
			<key>coupleId</key>
			<string>1002</string>
			<key>isDied</key>
			<false/>
		</dict>
		<dict>
			<key>mId</key>
			<string>105</string>
			<key>mName</key>
			<string>KSR</string>
			<key>coupleId</key>
			<string>1003</string>
			<key>isDied</key>
			<false/>
		</dict>
		<dict>
			<key>mId</key>
			<string>106</string>
			<key>mName</key>
			<string>KSR Mami</string>
			<key>coupleId</key>
			<string>1003</string>
			<key>isDied</key>
			<false/>
		</dict>
		<dict>
			<key>mId</key>
			<string>107</string>
			<key>mName</key>
			<string>Janaki</string>
			<key>coupleId</key>
			<string>1004</string>
			<key>isDied</key>
			<false/>
		</dict>
		<dict>
			<key>mId</key>
			<string>108</string>
			<key>mName</key>
			<string>Janaki Bhavi</string>
			<key>coupleId</key>
			<string>1004</string>
			<key>isDied</key>
			<false/>
		</dict>
	</array>
	<key>Couples</key>
	<array>
		<dict>
			<key>husbandId</key>
			<string>101</string>
			<key>coupleId</key>
			<string>1001</string>
			<key>wifeId</key>
			<string>102</string>
			<key>pId</key>
			<string>0</string>
		</dict>
		<dict>
			<key>husbandId</key>
			<string>103</string>
			<key>coupleId</key>
			<string>1002</string>
			<key>wifeId</key>
			<string>104</string>
			<key>pId</key>
			<string>1001</string>
		</dict>
		<dict>
			<key>husbandId</key>
			<string>105</string>
			<key>coupleId</key>
			<string>1003</string>
			<key>wifeId</key>
			<string>106</string>
			<key>pId</key>
			<string>1001</string>
		</dict>
		<dict>
			<key>husbandId</key>
			<string>107</string>
			<key>coupleId</key>
			<string>1004</string>
			<key>wifeId</key>
			<string>108</string>
			<key>pId</key>
			<string>1002</string>
		</dict>
	</array>
</dict>
</plist>
